<div class="container">
  <table>
    <thead>
      <tr>
        <th>Azonosito</th>
        <th>Cim</th>
        <th>Muveletek</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let adat of adatok ;let i= index">
        <td>{{ adat.id }}</td>
        <td>{{ adat.title }}</td>
        <td>
          <button (click)="torlesEvent(i)">Törlés</button>
          <button (click)="valtoztatEvent(i)">Változtat</button>
        </td>
      </tr>


    </tbody>
  </table>

<div class="formContainer">
  <form >
    <h2 *ngIf="folymatbanVan == false">Új adat hozzáadása</h2>
    <h2 *ngIf="folymatbanVan == true">Betöltés...</h2>
    <div>
      <input type="number" name="userIdinput" [(ngModel)]="userIdinput" placeholder="User id">
    </div>

    <div>
      <input type="text" name="titleInput" [(ngModel)]="titleInput" placeholder="Title">
    </div>

  </form>

  <div class="buttons">
      <button (click)="hozzadEvent()" *ngIf="frissitesGomb == false">Hozzáad</button>
      <button (click)="frissitesEvent()" *ngIf="frissitesGomb == true">Frissítés</button>
  </div>
</div>
</div>